<div class="container" style="margin-top: 30px">
  <h2>About me</h2>

  <p>
    I am a passionate software developer with over three years of experience in
    designing, developing, and optimizing cutting-edge software solutions. My
    expertise lies in full-stack development, specializing in modern
    technologies like Spring Boot, .NET Core, Angular, React, SignalR, and React
    Native. At LTIMindtree, I spearheaded impactful projects, including a
    real-time application for monitoring aircraft wing construction that
    improved manufacturing accuracy and efficiency. My commitment to excellence
    earned me the
    <strong>RISING STAR</strong> award at LTIMindtree, recognizing my
    contributions to high-impact projects.
  </p>
  <p>
    Beyond my technical work, I actively mentored junior developers, guiding
    them through best practices and fostering a collaborative learning
    environment. During my internship at FoodHub, I developed secure and
    user-friendly mobile applications, showcasing my ability to deliver
    innovative solutions tailored to user needs. Outside of work, I was a proud
    member of my college chess team, where I honed my strategic thinking and
    problem-solving skills. My journey has been driven by a passion for
    continuous learning, collaboration, and creating user-centric applications
    that make a tangible impact.
  </p>
</div>
