<div class="container" style="margin-top: 50px">
  <h2 style="text-align: center; font-family: sans-serif; padding-bottom: 15px">
    Work Experience
  </h2>
  <div class="row m-3">
    <div class="col-md-3 col-sm-6 col-4">
      <img
        class="card-img-top"
        src="../../assets/lti.jpeg"
        alt="Card image cap"
        style="object-fit: contain"
        height="150px"
      />
    </div>

    <div class="col-md-9 col-sm-6 align-items-center col-8">
      <div>
        <h2>
          Software Engineer,
          <small class="text-muted"> LTIMindtree</small>
        </h2>
        <p class="card-text">
          <small class="text-muted"> August 2020 - July 2023</small>
        </p>

        <p class="card-text">
          <span style="font-style: italic"> Clients: </span>
          <small class="text-muted"> Truist Insurance USA, Airbus UK</small>
        </p>
      </div>
    </div>
  </div>
  <div class="row m-3 pt-5">
    <div class="col-md-3 col-sm-6 col-4">
      <img
        class="card-img-top"
        src="../../assets/foodhub.webp"
        alt="Card image cap"
        style="object-fit: contain"
        height="150px"
      />
    </div>
    <div class="col-md-9 col-sm-6 col-8" style="display: flex">
      <div>
        <h2>
          React Native Developer Intern,
          <small class="text-muted"> FoodHub</small>
        </h2>
        <p class="card-text">
          <small class="text-muted"> January 2020 - June 2020</small>
        </p>
      </div>
    </div>
  </div>
</div>
