<div class="container" style="margin-top: 50px">
  <h2 style="text-align: center; font-family: sans-serif; padding-bottom: 10px">
    Projects
  </h2>
  <div class="row">
    <div class="card col-5 col-md-3 mx-3 p-3 mb-2">
      <img
        class="card-img-top"
        src="../../assets/npm.webp"
        alt="Card image cap"
        height="250px"
      />
      <div class="card-body row">
        <p class="card-text">NPM Pacakge: JSON-Key-Rename</p>
        <p class="card-text">
          <small class="text-muted">
            lightweight tool for renaming keys in JavaScript objects (JSON).
            Designed to improve consistency in codebases, and simplify key
            transformations for API responses. Published and maintained on npm.
          </small>
        </p>
        <p class="card-text">
          <small class="text-muted"></small>
        </p>
        <a
          class="btn btn-primary"
          href="https://www.npmjs.com/package/json-key-rename"
          >View Project
        </a>
      </div>
    </div>

    <div class="card col-5 col-md-3 mx-3 p-3 mb-2">
      <img
        class="card-img-top"
        src="../../assets/evaidya.avif"
        alt="Card image cap"
        height="250px"
      />
      <div class="card-body row">
        <p class="card-text">E-Vaidya Healthcare Management</p>
        <p class="card-text">
          <small class="text-muted">
            Comprehensive hospital management system, using Spring Boot,
            Angular, and MySQL focusing on streamlining patient management,
            appointment scheduling, and data handling for healthcare
            providers.</small
          >
        </p>
        <p class="card-text">
          <small class="text-muted"></small>
        </p>
        <a
          class="btn btn-primary"
          href="https://github.com/CodesbyGayathri/evaidya-healthcare-application-frontend"
          >View Project
        </a>
      </div>
    </div>

    <div class="card col-5 col-md-3 mx-3 p-3 mb-2">
      <img
        class="card-img-top"
        src="../../assets/gitsvg.webp"
        alt="Card image cap"
        height="250px"
      />
      <div class="card-body row">
        <p class="card-text">CPU Scheduler</p>
        <p class="card-text">
          <small class="text-muted">
            Simulated a CPU job scheduler application that calculates and
            visualizes job start times, end times and turnaround times using
            First-Come First-Served (FCFS) and Shortest Job First (SJF)
            scheduling algorithms.</small
          >
        </p>
        <p class="card-text">
          <small class="text-muted"></small>
        </p>
        <a
          class="btn btn-primary"
          href="https://codesbygayathri.github.io/scheduler/"
          >View Project
        </a>
      </div>
    </div>
  </div>
</div>
