.skill-card {
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}
.skill {
  padding: 10px;
  margin: 10px;
  flex: 1;
  align-items: end;
  font-weight: bold;
  font-size: larger;
  flex-direction: row;
}
.skillpic {
  height: 30px;
}
