<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-8 col-6">
      <img src="assets/image.JPG" style="width: 70%" />
    </div>
    <div class="col-md-12 col-sm-12 col-12 content" style="text-align: left">
      <div>
        <h1 style="font-size: xx-large">Gayathri Jayachander</h1>
        <h2 style="padding-left: 5px; font-size: x-large">Software Engineer</h2>
        <div class="col">
          <a
            class="profileButton"
            href="https://www.linkedin.com/in/gayathri-jayachander/"
          >
            <img src="assets/linkedinsvg.JPG" class="profileicon" />
          </a>
          <a class="profileButton" href="https://github.com/CodesbyGayathri">
            <img src="../assets/gitsvg.JPG" class="profileicon" />
          </a>
          <a
            class="profileButton"
            href="https://leetcode.com/u/GayathriJayachander/"
          >
            <img src="assets/leetcodesvg.JPG" class="profileicon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
